<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    
    <header>
        <img src="/img/logo-mercado-liebre.svg" width="300" alt="Logo MLiebre">

        <form class="search">
            <input class="formsize"  type="text" placeholder="Buscar productos...">
            <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
          </form>  

        <p class="compra"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="links">
                <li><a href="/register">Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        
    </header>

    <section>
        <img src="/img/img-home-banner.jpg" alt="Banner" class="ads"></div>
    </section>
    

    <main>
    <div id="registro">

    <form class="formulario" action="/" method="GET">
        <input type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario" class="dato" require>

        <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña" class="dato" require>
        <a href="/" title="Ingresar"><button type="submit" class="boton" id="botIngresar">Login</button></a>
    </form></div>
    </main>

    <footer>  
        <div>
        <div class="icono"><i class="fas fa-credit-card"></i></div>
        <h4 class="titulo">Pagá con tarjeta o en efectivo</h4>
        <p class="sub">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
        </div>

        <div>
        <div class="icono"><i class="fas fa-gift"></i></div>
        <h4 class="titulo">Envío gratis desde $ 2.500</h4>
        <p class="sub">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        
        <div>
        <div class="icono"><i class="fas fa-user-shield"></i></div>
        <h4 class="titulo">Seguridad, de principio a fin</h4>
        <p class="sub">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>

</body>
</html>